.main-container {
  margin: 20px;
}

.edit-form {
  margin: 20px;
}

.valid {
  border: 1px solid green;
}

.invalid {
  border: 2px solid red;
}

.all-products table{
  border: 1px solid black;
}

.all-products table tr{
  width: 300px;
}

.all-products table td{
  border: 1px solid black;
  width: 100px;
}

td {
  padding: 5px;
}